<div class="ui small inverted menu">
    <a class="item">IMC TELECOM</a>
    <a class="item" ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()" <a ui-sref-active="active" ui-sref="{{ item.state }}">
      {{ item.label }}
        </a>
    <button ng-show="!user" ui-sref="login" class="ui primary button">Login</button>
    <button ng-show="user" ng-click="logout()" class="ui red button">Logout</button>
    <!-- <div ng-show="user" class="welcome">
        <span>Welcome, {{ user.email }}!</span>
        <a ng-click="logout()">Logout</a>
    </div> -->
</div>
