
<div class="ui container">
  <div class="ui small header">
    {{ graphTitle }} | {{ originTerm }} {{ currType }} | {{ interval }}
  </div>

  <div class="ui mini basic buttons">
    <button ng-repeat="type in originTypes" class="ui basic button" ng-click="toggleOrigin(type)" ng-class="{ 'green': isCurrentOrigin(type) }">{{ type }}</button>
  </div>

  <div class="ui mini basic buttons">
    <button ng-repeat="type in intervalTypes" class="ui basic button" ng-click="changeInterval(type)" ng-class="{ 'blue': isCurrentInterval(type) }">{{ type }}</button>
  </div>

  <div class=" seven ui mini basic buttons">
    <button ng-repeat="type in graphTypes" class="ui basic button" ng-click="toggleState(type)" ng-class="{ 'orange': isCurrentType(type) }">{{ type }}</button>
  </div>

</div>
<div class="ui container">
  <graph data="data" interval="{{interval}}" type="{{currType}}" origin-term="{{originTerm}}" index="{{index}}"></graph>
</div>
