  <form class="ui form">
    <h4 class="ui dividing header">Graph Generator</h4>

      <div class="field">
        <label>Country</label>
        <select class="ui fluid search selection dropdown" ng-model="currCountry" ng-change="updateLists('countryList')" id="countryList" ng-options="country.country for country in countryList track by country.country"></select>
      </div>
      <div class="field" ng-class="{ 'disabled': noCurrCountry() }">
        <label>Region</label>
        <select class="ui fluid search selection dropdown" ng-model="currRegion" ng-change="updateLists('regionList')" id="regionList" ng-options="region.region_name for region in regionList track by region.id"></select>
      </div>

      <div class="field">
        <label>Originating Client</label>
        <select class="ui fluid search selection dropdown" ng-model="currOrigin" ng-change="updateLists('originMemberList')" id="originMemberList" ng-options="member.name for member in originMemberList track by member.id"></select>
      </div>
      <div class="field">
        <label>Terminating Client</label>
        <select class="ui fluid search selection dropdown" ng-model="currTerm" ng-change="updateLists('termMemberList')" id="termMemberList" ng-options="member.name for member in termMemberList track by member.id"></select>
      </div>

      <div class="field">
        <label>Originating Address</label>
        <select class="ui fluid search selection dropdown" ng-model="currOriginAddress" ng-change="updateLists('originAddressList')" id="originAddressList" ng-options="address.address for address in originAddressList track by address.id"></select>
      </div>
      <div class="field">
        <label>Terminating Address</label>
        <select class="ui fluid search selection dropdown" ng-model="currTermAddress" ng-change="updateLists('termAddressList')" id="termAddressList" ng-options="address.address for address in termAddressList track by address.id"></select>
      </div>

      <div class="field">
        <label>Sansay Switch</label>
        <select class="ui fluid dropdown" ng-model="currGw" ng-change="updateLists('gatewayList')" id="gatewayList" ng-options="gateway as gateway.address for gateway in gatewayList track by gateway.id"></select>

    </div>
    <div class="ui button" type="submit" tabindex="0" ng-click="addGraph()">Add Graph</div>
  </form>
