svg {
  border: 1px solid #dedede;
}

.active {
  color: #e62e00;
}

.pointer {
  cursor: pointer;
}

.units {
  color: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
  &.tick {
    stroke-width: 1px;
    stroke: #000;
  }
}

.axis {
  text {
    font-color: #000;
  }
}

.area {
  opacity: 0.6;
}

.asrm {
  fill: none;
  stroke: none;
  &.draw {
    fill: none;
    stroke: #000;
  }
}

.horizontal-grid {
  .tick {
    line {
      stroke: #888;
      stroke-dasharray: 3;
    }
  }
}
.vertical-grid {
  .tick {
    line {
      stroke: red;
      stroke-dasharray: 3;
    }
  }
}
