  <div class="ui cards">
    <div ng-repeat="graphParams in graphList track by $index" class="ui fluid card">
      <div class="content">
        <!-- <button class="ui right floated small red button"> -->
          <i class="large right floated red remove circle icon" ng-click="removeGraph($index)"></i>
        <!-- </button> -->
        <tab-graph where="{{ graphParams.whereClause }}" graph-title="{{ graphParams.graphTitle }}" index="graph{{ graphParams.id }}"></tab-graph>
      </div>
    </div>
  </div>
