<add-to-playlist graph-list="graphList"></add-to-playlist>
  <div class="ui cards">
    <div ng-repeat="graph in graphList track by $index" class="ui fluid card animate-repeat">
      <div class="content">
          <i class="large right floated red remove circle icon" ng-click="removeGraph($index)"></i>
          <i class="large right floated blue chevron circle up icon" ng-show="$index !== 0" ng-click="moveUp($index)"></i>
          <i class="large right floated blue chevron circle down icon" ng-show="$index !== graphList.length-1" ng-click="moveDown($index)"></i>
        <tab-graph country="{{ graph.country }}" route-code-id="{{ graph.routeCodeId }}" origin-member-id="{{ graph.originMemberId }}" term-member-id="{{ graph.termMemberId }}" gw-id="{{ graph.gwId }}" graph-title="{{ graph.graphTitle }}" index="graph{{ graph.id }}"></tab-graph>
      </div>
    </div>
  </div>
