<!-- <button class="ui blue button" ng-click="printList()">Print List</button> -->
<form class="ui form" ng-show="graphList.length && !playlist">
  <div class="ui horizontal divider">
    SAVE TO PLAYLIST
  </div>
  <div class="fields">
    <div class="twelve wide field">
      <input type="text" name="name" ng-model="newListName" placeholder="New Playlist Name">
    </div>
    <div class="four wide field">
      <div class="ui green button" ng-click="createPlaylist()">Save</div>
    </div>
  </div>
    <div class="fields" >
      <div class="twelve wide field">
        <select class="ui fluid dropdown" ng-model="targetListId">
          <option class="default text" value="">Add to List</option>
          <option ng-repeat="list in listCollection | orderBy: 'name'" ng-value="{{ list.id }}">{{ list.name }}</option>
        </select>
      </div>
      <div class="four wide field">
        <div class="ui blue button" ng-click="saveToPlaylist(targetListId, true)" id="add-to-list" data-content="Graphs added to list">Add</div>
      </div>
    </div>
  <!-- <div class="ui mini header" ng-if="graphsAdded" class="fade">
    Graphs added to list
  </div> -->

</form>


  <!-- <div class="ui small green basic dropdown button" ng-show="graphList.length && !playlist" id="save-graphs">
    <span class="text">Save Graphs</span>
    <div class="menu">

      <div class="divider"></div>
      <h4 class="ui header">Add to Playlist</h4>
      <div class="item" ng-repeat="list in playlists | orderBy:'name'" ng-click="selectListId(list.id)">
        {{ list.name }}
      </div>
    </div>
  </div> -->
