<div class="ui grid">
  <div class="two wide column">
  </div>
  <div class="three wide column">
    <form class="ui form">
      <h4 class="ui dividing header">Graph Generator</h4>

        <div class="field">
          <label>Country</label>
          <select class="ui fluid search selection dropdown" ng-model="currCountry" ng-change="getRegionList(currCountry)" id="currCountry">
            <option class="default text" value="">All Countries</option>
            <option ng-repeat="country in countryList" value="{{ country.country }}">{{ country.country }}</option>
          </select>
        </div>
        <div class="field" ng-class="{ 'disabled': noCurrCountry() }">
          <label>Region</label>
          <select class="ui fluid search selection dropdown" ng-model="currRegion" id="currRegion">
            <option class="default text" value="">All Regions</option>
            <option ng-repeat="region in currRegionList" ng-value="{{ region }}">{{ region.region_name }}</option>
          </select>
        </div>

        <div class="field">
          <label>Originating Client</label>
          <select class="ui fluid search selection dropdown" ng-model="currOrigin" id="currOrigin">
            <option class="default text" value="">All Clients</option>
            <option ng-repeat="member in memberList" ng-value="{{ member }}">{{ member.name }}</option>
          </select>
        </div>
        <div class="field">
          <label>Terminating Client</label>
          <select class="ui fluid search selection dropdown" ng-model="currTerm" id="currTerm">
            <option class="default text" value="">All Clients</option>
            <option ng-repeat="member in memberList" ng-value="{{ member }}">{{ member.name }}</option>
          </select>
        </div>


        <div class="field">
          <label>Gateway</label>
          <select class="ui fluid dropdown" ng-model="currGw" id="currGw">
            <option class="default text" value="">All Gateways</option>
            <option ng-repeat="gateway in gatewayList" ng-value="{{ gateway }}">{{ gateway.address }}</option>
          </select>

      </div>
      <div class="ui button" type="submit" tabindex="0" ng-click="addGraph()">Add Graph</div>
    </form>

  </div>
  <div class="eight wide column">
    <!-- <form>
      <select class="ui fluid dropdown" ng-model="currGw">
        <option class="default text" value="">Select Address</option>
        <option ng-repeat="gateway in gatewayList" ng-value="{{ gateway }}">{{ gateway.address }}</option>
      </select>
    </form> -->
    <div class="ui cards">
      <div ng-repeat="graphParams in currGraphList track by $index" class="ui fluid card">
        <div class="content">
          <tab-graph where="{{ graphParams.whereClause }}" graph-title="{{ graphParams.graphTitle }}" index="graph{{ $index }}"></tab-graph>
        </div>
      </div>
    </div>

  </div>

</div>
