<!-- <div class="ui container">
  <tab-graph where="country=963" group-by="batch_time,country_code" index="graph1"></tab-graph>
</div>

<div class="ui container">
  <tab-graph where="country=965" group-by="batch_time,country_code" index="graph2"></tab-graph>
</div>

<div class="ui container">
  <tab-graph where="country=961" group-by="batch_time,country_code" index="graph3"></tab-graph>
</div>

<div class="ui container">
  <tab-graph where="gw_id=1" group-by="batch_time" index="graph4"></tab-graph>
</div> -->
<div class="ui grid">
  <div class="two wide column">
  </div>
  <div class="six wide column">
    <form class="ui form">
      <h4 class="ui dividing header">Graph Generator</h4>

      <div class="two fields">
        <div class="field">
          <label>Country</label>
          <select class="ui fluid search selection dropdown" ng-model="currCountry" ng-change="getRegionList(currCountry)">
            <option class="default text" value="">Select Country</option>
            <option ng-repeat="country in countryList" value="{{ country.country }}">{{ country.country }}</option>
          </select>
        </div>
        <div class="field">
          <label>Region</label>
          <select class="ui fluid search selection dropdown" ng-model="currRegion" ng-class="{ disabled: noCurrCountry() }">
            <option class="default text" value="">Select Region</option>
            <option ng-repeat="region in currRegionList" ng-value="{{ region }}">{{ region.region_name }}</option>
          </select>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Originating Client</label>
          <select class="ui fluid search selection dropdown" ng-model="currOrigin">
            <option class="default text" value="">Select Client</option>
            <option ng-repeat="member in memberList" ng-value="{{ member }}">{{ member.name }}</option>
          </select>
        </div>
        <div class="field">
          <label>Terminating Client</label>
          <select class="ui fluid search selection dropdown" ng-model="currTerm">
            <option class="default text" value="">Select Client</option>
            <option ng-repeat="member in memberList" ng-value="{{ member }}">{{ member.name }}</option>
          </select>
        </div>

      </div>

      <div class="two fields">
        <div class="field">
          <label>Gateway</label>
          <select class="ui fluid dropdown" ng-model="currGw">
            <option class="default text" value="">Select Address</option>
            <option ng-repeat="gateway in gatewayList" ng-value="{{ gateway }}">{{ gateway.address }}</option>
          </select>
        </div>

      </div>
      <div class="ui button" tabindex="0" ng-click="addGraph()">Add Graph</div>

    </form>
  </div>
  <div class="eight wide column">
    <div class="ui cards">
      <div ng-repeat="graphParams in currGraphList track by $index" class="ui fluid card">
        <div class="content">
          <tab-graph where="{{ graphParams.whereClause }}" graph-title="{{ graphParams.graphTitle }}" index="graph{{ $index }}"></tab-graph>
        </div>
      </div>
    </div>

  </div>
</div>
<script>
$('.ui.dropdown')
  .dropdown();
</script>
